<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
     <div th:replace="fragments :: menu"></div>
        <div class="container-fluid">
          <div class="row">
             <div class="col">
                 <div class="jumbotron text-center">
                    <h2>Sie haben keine Befugnis, sich auszuloggen</h2>
                 </div>
             </div>
          </div>
      </div>
     <div th:replace="fragments :: footer"></div>
</body>
</html>